<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<application android:usesCleartextTraffic="true">
		<!-- Google 官方测试应用 ID，仅用于测试 APK 的 SDK 初始化。 -->
		<meta-data
			android:name="com.google.android.gms.ads.APPLICATION_ID"
			android:value="ca-app-pub-3940256099942544~3347511713" />
	</application>
</manifest>
